.container, .container3, .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  
  .ring {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #11ffee00;
    border: 5px solid #f5b042;
    box-shadow: #c67e0b 5px 5px 5px;
  }
  
  h1 {
    margin: 0 10px;
    display: block;
  }
  
  .container2 .theone {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #11ffee00;
    border: 10px solid #f5b042;
    box-shadow: #c67e0b 10px 10px 5px;
    margin-top: 1rem;
  }
  
  .container3 div:nth-child(1) {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #11ffee00;
    border: 2px solid #f5b042;
    box-shadow: #c67e0b 2px 2px 5px;
  }
  .container3 div:nth-child(2) {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #11ffee00;
    border: 3px solid #f5b042;
    box-shadow: #c67e0b 3px 3px 5px;
  }
  .container3 div:nth-child(3) {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #11ffee00;
    border: 4px solid #f5b042;
    box-shadow: #c67e0b 4px 4px 5px;
  }
  .container3 div:nth-child(4) {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #11ffee00;
    border: 5px solid #f5b042;
    box-shadow: #c67e0b 5px 5px 5px;
  }
  .container3 div:nth-child(5) {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #11ffee00;
    border: 6px solid #f5b042;
    box-shadow: #c67e0b 6px 6px 5px;
  }
  .container3 div:nth-child(6) {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: #11ffee00;
    border: 7px solid #f5b042;
    box-shadow: #c67e0b 7px 7px 5px;
  }